@model CandidateProject.ViewModels.CartonDetailsViewModel

@{
    ViewBag.Title = "AddEquipment";
    ViewBag.CartonHasItems = Model.Equipment.Count();
}

<h2>Add Equipment</h2>
@Html.ActionLink("Back to List", "Index")

<h3>Carton: &nbsp; @Html.DisplayFor(model => model.CartonNumber) (@Model.CartonEquipmentCount of @ViewBag.MaxEquipCount items)</h3>

@if (ViewBag.Message != null)
{
    <p class="text-danger">@ViewBag.MessageTitle : @ViewBag.Message</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.FirstOrDefault().ModelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.FirstOrDefault().SerialNumber)
        </th>    
        <th></th>
    </tr>

    @foreach (var item in Model.Equipment)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.ActionLink("Add", "AddEquipmentToCarton", new { cartonId = Model.CartonId, equipmentId = item.Id })
            </td>
        </tr>
    }

</table>
