@model IEnumerable<CandidateProject.ViewModels.CartonViewModel>
@using System.Configuration;

@{
    ViewBag.Title = "Index";
}

<h2>Current Carton List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartonNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CartonNumber) (@item.ItemCount of @ConfigurationManager.AppSettings["MaxItemsPerCarton"].ToString() items)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Add Equipment", "AddEquipment", new { id = item.Id }) |
            @Html.ActionLink("View Carton Equipment", "ViewCartonEquipment", new { id=item.Id })
        </td>
    </tr>
}

</table>
